absl-py==2.3.1
astunparse==1.6.3
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.7
cycler==0.12.1
decorator==5.2.1
deep-sort-realtime==1.3.2
deepface==0.0.95
facenet-pytorch==2.6.0
fer==22.5.1
ffmpeg==1.4
filelock==3.20.0
fire==0.7.1
Flask==3.1.2
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.9.23
fonttools==4.60.1
fsspec==2025.9.0
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
greenlet==3.4.0
grpcio==1.75.1
gunicorn==23.0.0
h5py==3.14.0
idna==3.11
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
keras==3.11.3
kiwisolver==1.4.9
libclang==18.1.1
lz4==4.4.4
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
ml_dtypes==0.5.3
moviepy==2.2.1
mpmath==1.3.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.5
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.3
pillow==10.2.0
polars==1.34.0
polars-runtime-32==1.34.0
proglog==0.1.12
protobuf==6.32.1
psutil==7.1.0
pycparser==3.0
Pygments==2.19.2
PyMySQL==1.1.2
pyparsing==3.2.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
retina-face==0.0.17
rich==14.2.0
scikit-learn==1.8.0
scipy==1.16.2
six==1.17.0
soupsieve==2.8
SQLAlchemy==2.0.49
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl==3.6.0
tk==0.1.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.213
ultralytics-thop==2.0.17
urllib3==2.5.0
Werkzeug==3.1.3
wrapt==1.17.3
